@page
@model IndexModel
@{
    ViewData["Title"] = " ";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit la clinica MedVet</h1>
    <p>Prima clinica din oras cu aplicatie web in care iti poti face programare la clinica in cateva secunde</p>
</div>
